.vscode
dist
data/raw/*
data/transformed/*
data/nlp/input/*
data/nlp/output/*
data/nlp/terms/*
__pycache__
kg_microbe/__pycache__/
.DS_Store
build
kg_microbe.egg-info
_build/
tests/resources/traits/
.DS_Store
**/__pycache__/
.ipynb_checkpoints
