.vscode
dist
data/raw/*
data/transformed/*
data/nlp/output/*.tsv
data/nlp/terms/*
data/merged/*
__pycache__
kg_microbe/__pycache__/
.DS_Store
build
kg_microbe.egg-info
_build/
.DS_Store
**/__pycache__/
.ipynb_checkpoints
tests/resources/traits/input/chebi*
tests/resources/traits/input/go*
tests/resources/traits/nlp/terms/

!data/raw/subset_terms.tsv